### MAST30034: Applied Data Science Project 2
---
# Naive Ranking: Unweighted Average Rank

Calculate the unweights average rank over all merchants (without segmentation).

In [1]:
# useful imports
import pandas as pd
import numpy as np
import os
import re

os.chdir("../scripts")
import utilities.rank_utilities as RANK

In [2]:
# read the curated data
merchant_df = pd.read_parquet('../data/curated/final_merchant_statistics')

In [6]:
merchant_df.columns

Index(['merchant_abn', 'name', 'revenue_level', 'take_rate',
       'antique_shop_sale', 'appliance_rent_leasing', 'art_dealer_gallery',
       'artist_supply_craft_shop', 'bicycle_shop_sale_service', 'book',
       'cable', 'card', 'clock', 'computer', 'computer_peripheral_equipment',
       'computer_programming', 'data_processing', 'digital_good_book',
       'equipment', 'except_appliance', 'eyeglass', 'flower', 'forest_supply',
       'furniture', 'gift', 'health_beauty_spa', 'hobby',
       'home_furnishing_equipment_shop', 'including_nursery',
       'integrated_system_design_service', 'jewelry', 'jewelry_repair_shop',
       'lawn_garden_supply_outlet', 'manufacturer',
       'motor_vehicle_supply_new_part', 'movie', 'music',
       'music_shop_musical_instrument', 'newspaper', 'novelty',
       'nursery_stock', 'office_supply_printing_writing_paper', 'optical_good',
       'optician', 'pay_television_radio_service', 'periodical', 'piano',
       'repair', 'restoration_service', 'satellite', 'sheet_music',
       'shoe_shop', 'silverware_shop', 'software', 'souvenir_shop',
       'stationery', 'telecom', 'tent_owning_shop', 'tool', 'toy_game_shop',
       'watch', 'avg_daily_rev', 'avg_value_per_order', 'avg_daily_order',
       'avg_daily_commission', 'avg_commission_per_order', 'sa2_region_count',
       'median_customer_income', 'returning_customer', 'mean_spending',
       'std_spending', 'vip_customer', 'revenue_level_rank'],
      dtype='object')

In [3]:
merchant_df.head(5)

,merchant_abn,name,revenue_level,take_rate,antique_shop_sale,appliance_rent_leasing,art_dealer_gallery,artist_supply_craft_shop,bicycle_shop_sale_service,book,...,avg_value_per_order,avg_daily_order,avg_daily_commission,avg_commission_per_order,sa2_region_count,median_customer_income,returning_customer,mean_spending,std_spending,vip_customer
0,10023283211,Felis Limited,e,0.18,0,0,0,0,0,0,...,215.663205,5.390083,2.092396,0.388194,1717.0,794.816023,11.0,231.951752,155.424439,137.0
1,10346855916,Odio Institute,b,3.57,0,1,0,0,0,0,...,1129.196413,0.009917,0.399792,40.312312,7.0,788.166667,0.0,1129.196413,717.988423,0.0
2,10385163239,Sed Et Company,a,6.61,0,0,0,0,0,0,...,340.452204,0.122314,2.752542,22.503891,132.0,797.507171,0.0,345.115933,203.496326,3.0
3,10648956813,Proin Nisl Institute,a,6.66,0,0,0,0,0,0,...,64.583063,36.332231,156.273355,4.301232,2208.0,825.551750,1574.0,98.720466,57.083817,710.0
4,10714068705,Sollicitudin Commodo Ipsum Industries,c,2.51,0,0,0,0,0,0,...,126.675378,5.682645,18.068264,3.179552,1715.0,796.782831,10.0,135.209547,113.737044,145.0

In [4]:
merchant_df['revenue_level'] = np.where(
    merchant_df['revenue_level'] == "a", 1,
    np.where(
        merchant_df['revenue_level'] == "b", 2,
        np.where(
            merchant_df['revenue_level'] == "c", 3,
            np.where(
                merchant_df['revenue_level'] == "d", 4,
                    5
            )
        )
    )
)

In [5]:
# define the columns to add ranks for
rank_cols_asc = {
    'revenue_level': False,
    'no_orders': False,
    'avg_value_per_order': False,
    'avg_daily_order': False,
    'avg_daily_commission': False,
    'avg_commission_per_order': False,
    'sa2_region_count': False,
    'median_customer_income': False,
    'mean_spending': False,
    'returning_customer': False,
    'std_spending': False,
    'vip_customer': False,
}

# iterate through and rank these columns
for colname, asc in rank_cols_asc.items():
    merchant_df = RANK.add_column_rank(merchant_df, colname, ascending=asc)

KeyError: 'no_orders'

In [ ]:
# calculate the uwar for the cols to rank
merchant_df = RANK.average_rank(merchant_df, cols_to_rank)

In [ ]:
merchant_df.sort_values('average_rank')

,merchant_abn,name,revenue_level,take_rate,antique_shop_sale,appliance_rent_leasing,art_dealer_gallery,artist_supply_craft_shop,bicycle_shop_sale_service,book,...,data_processing_rank,jewelry_rank,hobby_rank,newspaper_rank,eyeglass_rank,tool_rank,silverware_shop_rank,including_nursery_rank,lawn_garden_supply_outlet_rank,average_rank
1678,79827781481,Amet Risus Inc.,a,6.82,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,1715.586957
57,27326652377,Tellus Aenean Corporation,a,6.33,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,1726.862319
3260,71759376949,Pharetra Corp.,a,6.31,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,1728.405797
2712,45433476494,Adipiscing Elit Foundation,a,5.82,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,1760.804348
96,38700038932,Etiam Bibendum Industries,a,6.31,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,1763.862319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,16104218122,Scelerisque Ltd,b,4.29,0,0,0,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,2369.144928
2922,31400548982,Non Egestas PC,b,4.26,0,0,1,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,2369.333333
2026,39469369640,Mauris Sapien Corporation,b,3.53,0,0,1,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,2376.376812
953,89133730546,Adipiscing Fringilla Porttitor Ltd,b,3.40,0,0,1,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,2377.637681
1210,96141360246,Auctor Odio Consulting,c,2.02,0,0,1,0,0,0,...,2109.0,2059.0,2084.5,2095.5,2089.0,2080.5,2059.0,2090.0,2090.0,2389.152174